@{
    ViewBag.Title = "省钱装修攻略 家庭装修怎么最省钱-港宏宜家官网";
    ViewBag.Keywords = "装修怎么最省钱, 装修省钱,装修如何省钱";
    ViewBag.Description = "重庆装修如何省钱，重庆装修怎么最省钱，来港宏宜家装饰官网点击省钱装修就知道了，装修省钱的同时还有品质保障。";
}

@model System.Data.DataTable
@using System.Data
@using ZGD.Common

@section Head
{
}

@{
    ZGD.BLL.Banner bBll = new ZGD.BLL.Banner();
    var top_ad = bBll.GetModel(17);
}

@{Html.RenderAction("Top", "Ctrl", new { menuID = 2 });}
<!--content begin-->
<div id="content" style="padding-top:0;">
    <div class="main">
        <div class="nav_title">
            <a href="">首页</a> &gt; 省钱装修
        </div>
    </div>
    <div class="main">
        <div class="con_left">
            @RenderPage("../Ctrl/_ZxCalc.cshtml")
            <div class="space20"></div>
            <div class="ad_list">
                <a href="/page?type=CaiLiao"><img src="/Content/Images/act/ad1.jpg" /></a>
                <a href="/case"><img src="/Content/Images/act/ad2.jpg" /></a>
                <a href="/photos/1"><img src="/Content/Images/act/ad3.jpg" /></a>
                <a href="/page?type=LiuCheng"><img src="/Content/Images/act/ad4.jpg" /></a>
                <a href="/photos/1"><img src="/Content/Images/act/ad5.jpg" /></a>
                <a href="/photos/1"><img src="/Content/Images/act/ad6.jpg" /></a>
            </div>
        </div>
        <div class="con_right" style="width:900px">
            <div class="act_top_ad">
                <a href="@(top_ad.Url)"><img src="@(top_ad.ImgUrl)" /></a>
            </div>
            <ul class="act_list">
                @{
                    string url = string.Empty;
                }
                @foreach (DataRow item in Model.Rows)
                {
                    if (!string.IsNullOrWhiteSpace(item["aUrl"].ToString()))
                    {
                        url = item["aUrl"].ToString();
                    }
                    else
                    {
                        url = "/sqzx/" + item["ID"].ToString();
                    }
                    <li>
                        <a href="@(url)"><img src="@(item["ImgUrl"].ToString())" /></a>
                        <h3><a href="@(url)">@(item["Title"].ToString())</a></h3>
                        <p class="con">
                            @(item["Description"].ToString())
                        </p>
                        <p class="date">@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</p>
                    </li>
                }
            </ul>
            @Html.Raw(ViewBag.Pager)
        </div>
    </div>
</div>
<div class="space10"></div>