@{
    string typeId = ViewBag.TypeID;
    string title = string.Empty;
    string key = string.Empty;
    string desc = string.Empty;

    switch (typeId)
    {
        case "2":
            title = "【装修攻略】家庭装修攻略大全";
            key = "装修攻略,家庭装修,装修流程,装修注意事项";
            desc = "装修攻略包含家庭装修流程、家庭装修注意事项、家庭装修施工工艺等等攻略，装修攻略是我们自学家庭装修最好的知识库。";
            break;
        case "3":
            title = "【装修材料】家庭装修建材 装修材料分类";
            key = "装修材料,家庭装修,装修建材";
            desc = "装修材料包含家庭装修铺材、主材、灯饰、家具、装饰品等材料的介绍，以及家庭装修铺材、主材、灯饰、家具、装饰品等材料的使用情况。";
            break;
        case "5":
            title = "【家装设计】家庭装修设计风格 家居设计色彩搭配";
            key = "家装设计,装修风格,家居设计,设计风格,色彩搭配";
            desc = "家装设计将分享一些装修设计案例、家庭装修设计注意事项、港宏装饰设计师设计作品等，如果你对家庭装修设计知识有兴趣，就来家庭设计师知识栏找相关知识。";
            break;
        case "6":
            title = "家居风水 家庭住宅装修风水大全";
            key = "家居风水,装修风水,住宅风水,家庭装修";
            desc = "家居风水将分享家庭装修风水、装修风水禁忌、家具风水布置等装修风水知识，多了解些装修风水知识，看看你家有哪些装修风水禁忌。";
            break;
        case "71":
            title = "重庆港宏装饰公司优惠信息 港宏装饰最新动态";
            key = "重庆装饰公司,港宏装饰,港宏,装饰公司";
            desc = "港宏装饰动态里将发布重庆港宏装饰公司的优惠活动方案以及重庆港宏装饰公司最近的动态，港宏装饰是一家重品质的装饰公司，咨询热线：023-68411900。";
            break;
    }

    ViewBag.Title = (string.IsNullOrWhiteSpace(title) ? ViewBag.SearchKey : title) + "-港宏宜家官网";
    ViewBag.Keywords = key;
    ViewBag.Description = desc;
}
@model System.Data.DataTable
@using System.Data
@using ZGD.Common
@section Head
    {
    <style type="text/css">
        #main_con { background-color: transparent; padding: 0; }
    </style>
}
@{Html.RenderAction("Top", "Ctrl", new { menuID = 7 });}
<div id="content" style="padding-top:0;">
    <div class="main">
        <div class="nav_title">当前位置：<a href="/">首页</a>&gt;<a href="/">装修知识</a>&gt;<a href="/news?t=@ViewBag.TypeID">@(ViewBag.Type)</a></div>
    </div>
    <div class="space10"></div>
    <div class="main">
        <div id="main_con">
            <div class="con_left">
                @RenderPage("../Ctrl/_ZxCalc.cshtml")
                <div class="space20"></div>
                @RenderPage("../Ctrl/_HotHouse.cshtml")
                @*<div class="space20"></div>
                    @RenderPage("../Ctrl/_HotCase.cshtml")*@
            </div>
            <div id="con_right" style="width:880px;padding-left:20px;padding-top:0;">
                <div class="ty_list">
                    <ul>
                        @foreach (DataRow item in Model.Rows)
                        {
                            <li>
                                <div class="ty_item">
                                    <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    <div class="word_mid">
                                        <h3><a href="/news/@(item["Id"].ToString())">@(item["Title"].ToString())</a></h3>
                                        <p class="des">@(item["Description"].ToString().ToSubString(100)) <a href="/news/@(item["Id"].ToString())">[详情]</a></p>
                                        <p class="date"><i>@(item["Click"].ToString())</i>标签：@Html.Raw(item["Tags"].ToString().ToTags())<span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span></p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @Html.Raw(ViewBag.Pager)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space40"></div>