<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="qc:admins" content="2413667061522516375" />
    <meta property="wb:webmaster" content="e3692a04f7f8ddd3" />
    <title>@(ViewBag.Title)</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    @*<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />*@
    <link href="/Content/Css/base.css" rel="stylesheet" />
    <link href="/Content/Css/style.css?v=20180501" rel="stylesheet" />
    <script src="/Content/Scripts/jquery-3.7.1.min.js"></script>
    <script src="/Content/Scripts/jquery-migrate-1.4.1.js"></script>
    @RenderSection("Head", false)

</head>
<body>
    <div class="body_bg">
        @RenderBody()
        @RenderPage("_Footer.cshtml")
    </div>
    @RenderSection("Scripts", false)

</body>
</html>