@{
    ViewBag.Title = "装修问答 家庭装修问答 室内装修问题解决平台-港宏宜家官网";
    ViewBag.Keywords = "装修问答,家庭装修,室内装修";
    ViewBag.Description = "港宏宜家装饰装修问答专区旨在与大家讨论装修中所遇到了一些问题，这里有专业家装设计师、家装工程经理、家装施工师傅为您实实在在的解答疑问。";
}
@model System.Data.DataTable
@using System.Data
@using ZGD.Common

@section Head
{
}
@{Html.RenderAction("Top", "Ctrl", new { menuID = 0 });}

<div id="content" style="padding-top:0;">
    <div class="main">
        <div class="nav_title">
            <a href="">首页</a> &gt; <a href="/wd">装修问答</a> &gt; 问答列表
        </div>
    </div>
    <div class="space10"></div>
    <div class="main">
        <div class="con_left">
            @RenderPage("../Ctrl/_ZxCalc.cshtml")
            <div class="space20"></div>
            @RenderPage("../Ctrl/_HotQa.cshtml")
            <div class="space20"></div>
            @RenderPage("../Ctrl/_HotHouse.cshtml")
        </div>
        <div class="con_right">
            <ul class="ask_list">
                @foreach (DataRow item in Model.Rows)
                {
                    <li>
                        <h3><a href="/wd/@(item["ID"].ToString())">@(item["Title"].ToString())</a></h3>
                        <div>
                            <p class="word">@(string.IsNullOrWhiteSpace(item["AnswerCon"].ToString()) ? "暂无回答..." : item["AnswerCon"].ToString())<a href="/wd/@(item["ID"].ToString())">【详情】</a></p>
                            <p class="info">
                                <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span>
                                <i class="views">@(item["Click"].ToString())</i>
                                <i>@(item["aCount"].ToString())回答</i>
                            </p>
                        </div>
                    </li>
                }
            </ul>
            @Html.Raw(ViewBag.Pager)
        </div>
    </div>
</div>
<div class="space40"></div>
