@{Layout = null;}
@using System.Data

<!--top begin-->
<div class="top_bg">
    <div class="main">
        <div class="top_r">
            <p>24小时咨询热线：023-68409998&nbsp;&nbsp;&nbsp;&nbsp;@if (ZGD.Web.Controllers.DTO.OperSession.LoginUser == null)
            { <a href="/user/login">登录</a>@("/")<a href="/user/reg">注册</a> }
            else
            {@("欢迎登陆“")<a href="/user">@(ZGD.Web.Controllers.DTO.OperSession.LoginUser.Nickname)</a>@("”") <a href="/user/logout">退出</a> } | <a href="http://p.qiao.baidu.com//im/index?siteid=8316243&ucid=19605673" target="_blank">在线咨询</a></p>
        </div>
        <div class="top_l">
            致公党全国行业质量诚信示范企业、全国用户质量满意企业
        </div>
    </div>
</div>
<div class="top_bg2">
    <div id="top" class="main">
        <a href="/" class="logo"></a>
        <ul>
            <li><a href="/" @if (ViewBag.menuID == 1) { @Html.Raw("class=\"hover\"") ; }><i>HOME</i><br />网站首页</a></li>
            <li><a href="/sqzx" @if (ViewBag.menuID == 2) { @Html.Raw("class=\"hover\"") ; }><i>SAVE MONEY</i><br />省钱装修<img src="/Content/Images/hot.gif" /></a></li>
            <li><a href="/case" @if (ViewBag.menuID == 3) { @Html.Raw("class=\"hover\"")  ; }><i>CASE</i><br />装修效果图</a></li>
            <li><a href="/project" @if (ViewBag.menuID == 4) { @Html.Raw("class=\"hover\"")  ; }><i>WORK SITE</i><br />在建工地</a></li>
            @*<li>
                    <a class="menu_down" href="javascript:;" @if (ViewBag.menuID == 3) { @Html.Raw("class=\"hover\""); }><i>CUSTONMIZED</i><br />全屋定制</a>
                    <div class="menu_list" style="display:none;">
                        <p><a href="/page/xd" style="padding: 0; height: 45px; line-height: 45px; " target="_blank">现代系列</a></p>
                        <p><a href="/page/sj" style="padding: 0; height: 45px; line-height: 45px; " target="_blank">世家系列</a></p>
                    </div>
                </li>*@
            <li><a href="/designer" @if (ViewBag.menuID == 5) { @Html.Raw("class=\"hover\"")  ; }><i>DESIGN</i><br />精英团队</a></li>
            <li><a style="width:115px;padding:0 10px;" href="/join" @if (ViewBag.menuID == 6) { @Html.Raw("class=\"hover\"")  ; }><i>BUDGET</i><br />免费报价<img src="/Content/Images/hot.gif" /></a></li>
            <li><a href="/xzx" @if (ViewBag.menuID == 7) { @Html.Raw("class=\"hover\"")  ; }><i>LORE</i><br />学装修</a></li>
            @*<li><a href="/photos/1" @if (ViewBag.menuID == 5) { @Html.Raw("class=\"hover\""); } target="_blank"><i>PROCESS</i><br />工程工艺</a></li>
                <li><a href="/join" @if (ViewBag.menuID == 6) { @Html.Raw("class=\"hover\""); } target="_blank"><i>BUDGET</i><br />装修预算</a></li>
                <li><a href="/Page?type=LiuCheng" @if (ViewBag.menuID == 7) { @Html.Raw("class=\"hover\""); } target="_blank"><i>SERVICE</i><br />客户服务</a></li>*@
        </ul>
        <script type="text/javascript">
            $(".menu_down").hover(function () {
                $(this).next(".menu_list").show();
            }, function () {
                $(this).next(".menu_list").hide();
            });
            $(".menu_list").mouseover(function () {
                $(this).show();
            });
            $(".menu_list").mouseout(function () {
                $(this).hide();
            });
        </script>
    </div>
</div>
<!--top end-->