@{
    ViewBag.Title = "中国致公党重庆市委员会";
    ViewBag.Keywords = "中国致公党重庆市委员会";
    ViewBag.Description = "中国致公党重庆市委员会";
}
@model ZGD.Web.Controllers.IndexDTO

@section Head
{
    <link href="~/Content/Scripts/jquery.hiSlider/css/jquery.hiSlider.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.hiSlider/js/jquery.hiSlider.min.js"></script>
}
@using ZGD.Common
@using System.Data
@{Html.RenderAction("Top", "Ctrl", new { menuID = "0" });}

<div class="con_bg main">
    <div class="index_top">
        <div class="title"><a href="/articlepage/1-9" class="more">更多&gt;&gt;</a><span>党内新闻</span></div>
        <div class="index_top_con">
            <div class="left">
                <ul class="hiSlider" id="slider1">
                    @{
                        string img1 = string.Empty;
                    }
                    @foreach (DataRow item in Model.News1_Img.Rows)
                    {
                        img1 = item["ImgUrl"].ToString().Split(',')[0];
                        <li data-title="@(item["Title"].ToString())" class="hiSlider-item">
                            <a href="/article/9-@(item["Id"].ToString()).html"><img src="@(img1)" width="480" height="280" alt="@(item["Title"].ToString())" /></a>
                        </li>
                    }
                </ul>
            </div>
            <script type="text/javascript">
                $('#slider1').hiSlider();
            </script>
            <div class="right">
                <ul class="news_list">
                    @foreach (DataRow item in Model.News1.Rows)
                    {
                        <li><a href="/article/9-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(30))</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="space10"></div>
    <div class="tl_ad"><a href="#"><img src="~/Content/Images/ad1.jpg" /></a></div>
    <div class="space10"></div>

    <div class="index_mid">
        <div class="index_mid_left">
            <div class="mid_left_top panel">
                <div class="title"><a href="/articlepage/1-10" class="more">更多&gt;&gt;</a><span>工作简讯</span></div>
                <div class="con">
                    <div class="left">
                        <ul class="hiSlider" id="slider2">
                            @{
                                string img2 = string.Empty;
                            }
                            @foreach (DataRow item in Model.News2_Img.Rows)
                            {
                                img2 = item["ImgUrl"].ToString().Split(',')[0];
                                <li data-title="@(item["Title"].ToString())" class="hiSlider-item">
                                    <a href="/article/10-@(item["Id"].ToString()).html"><img src="@(img2)" width="354" height="200" alt="@(item["Title"].ToString())" /></a>
                                </li>
                            }
                        </ul>
                    </div>
                    <script type="text/javascript">
                        $('#slider2').hiSlider({ mode: "fade" });
                    </script>
                    <div class="right">
                        <ul class="news_list">
                            @foreach (DataRow item in Model.News2.Rows)
                            {
                                <li><a href="/article/10-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(22))</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="space10"></div>
            <div class="mid_left_bom">
                <div class="left">
                    <div class="panel3">
                        <div class="title"><a href="/articlepage/1-11" class="more">更多&gt;&gt;</a><span>自身建设</span></div>
                        <div class="con">
                            <ul class="news_list">
                                @foreach (DataRow item in Model.News4.Rows)
                                {
                                    <li><a href="/article/11-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(20))</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="space10"></div>
                    <div class="panel3">
                        <div class="title"><a href="/articlepage/1-12" class="more">更多&gt;&gt;</a><span>参政议政</span></div>
                        <div class="con">
                            <ul class="news_list">
                                @foreach (DataRow item in Model.News6.Rows)
                                {
                                    <li><a href="/article/12-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(20))</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="space10"></div>
                    <div class="panel3">
                        <div class="title"><a href="/articlepage/1-14" class="more">更多&gt;&gt;</a><span>海外联谊</span></div>
                        <div class="con">
                            <ul class="news_list">
                                @foreach (DataRow item in Model.News8.Rows)
                                {
                                    <li><a href="/article/14-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(20))</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="panel3">
                        <div class="title"><a href="/articlepage/1-13" class="more">更多&gt;&gt;</a><span>宣传思想</span></div>
                        <div class="con">
                            <ul class="news_list">
                                @foreach (DataRow item in Model.News5.Rows)
                                {
                                    <li><a href="/article/13-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(20))</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="space10"></div>
                    <div class="panel3">
                        <div class="title"><a href="/articlepage/1-15" class="more">更多&gt;&gt;</a><span>社会服务</span></div>
                        <div class="con">
                            <ul class="news_list">
                                @foreach (DataRow item in Model.News7.Rows)
                                {
                                    <li><a href="/article/15-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(20))</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="space10"></div>
                    <div class="panel3">
                        <div class="title"><a href="/articlepage/1-16" class="more">更多&gt;&gt;</a><span>致公风采</span></div>
                        <div class="con">
                            <ul class="news_list">
                                @foreach (DataRow item in Model.News9.Rows)
                                {
                                    <li><a href="/article/16-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(20))</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index_mid_right">
            <div class="panel2">
                <div class="title"><a href="/articlepage/1-19" class="more">更多&gt;&gt;</a><span>关于致公</span></div>
                <div class="con" style="height:190px;padding-top:8px;">
                    <ul class="news_list">
                        @foreach (DataRow item in Model.News3.Rows)
                        {
                            <li><a href="/article/19-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(12))</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="space10"></div>
            <div class="panel2">
                <div class="title"><a href="/zt" class="more">更多&gt;&gt;</a><span>专题报道</span></div>
                <div class="con">
                    <ul class="img_list">
                        @foreach (DataRow item in Model.ZT.Rows)
                        {
                            <li><a href="/articlepage/1-@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="space10"></div>
            <div class="panel2">
                <div class="title"><a href="/articlepage/1-17" class="more">更多&gt;&gt;</a><span>《重庆致公》</span></div>
                <div class="con">
                    <p style="text-align:center;">
                        <a href="/articlepage/1-17"><img src="~/Content/Images/zgd.jpg" /></a>
                    </p>
                </div>
            </div>
            <div class="space10"></div>
            <div class="panel2">
                <div class="title"><a href="/articlepage/1-20" class="more">更多&gt;&gt;</a><span>通知公告</span></div>
                <div class="con">
                    <ul class="news_list">
                        @foreach (DataRow item in Model.News10.Rows)
                        {
                            <li><a href="/article/20-@(item["Id"].ToString()).html" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(12))</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="space10"></div>

    <div class="index_bom">
        <div class="panel3">
            <div class="title2"><a href="/gallerypage/1-53" class="more">更多&gt;&gt;</a><span>致公艺苑</span></div>
            <div class="con zgyy" style="height:300px;padding:0;padding-top:2px;">
                <div class="left">
                    @{
                        int p_idx = 0;
                    }
                    @foreach (DataRow item in Model.Pics.Rows)
                    {
                        if (p_idx == 0)
                        {
                            <a href="/gallery/@(item["Id"].ToString()).html"><img src="@(item["ImgUrl"].ToString())" alt="@(item["Title"].ToString())" /></a>
                            break;
                        }
                    }
                </div>
                <div class="right">
                    <div class="right_top">
                        @{
                            p_idx = 0;
                        }
                        @foreach (DataRow item in Model.Pics.Rows)
                        {
                            if (p_idx > 0)
                            {
                                <a href="/gallery/@(item["Id"].ToString()).html"><img src="@(item["ImgUrl"].ToString())" alt="@(item["Title"].ToString())" /></a>
                            }
                            else if (p_idx == 2)
                            {
                                <a href="/gallery/@(item["Id"].ToString()).html"><img src="@(item["ImgUrl"].ToString())" alt="@(item["Title"].ToString())" style="margin-right:0" /></a>
                                break;
                            }
                            p_idx++;
                        }
                    </div>
                    <div class="right_bom">
                        @{
                            p_idx = 0;
                        }
                        @foreach (DataRow item in Model.Pics.Rows)
                        {
                            if (p_idx > 2)
                            {
                                <a href="/gallery/@(item["Id"].ToString()).html"><img src="@(item["ImgUrl"].ToString())" alt="@(item["Title"].ToString())" /></a>
                            }
                            else if (p_idx == 5)
                            {
                                <a href="/gallery/@(item["Id"].ToString()).html"><img src="@(item["ImgUrl"].ToString())" alt="@(item["Title"].ToString())" style="margin-right:0" /></a>
                            }
                            p_idx++;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space10"></div>
</div>

@{
    //友情链接
    DataTable dt_link = new ZGD.BLL.Links().GetList(0, " IsLock=0 ", " SortId asc");
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}
<div class="link_list main" id="link_list">
    <p>
        <span>友情链接：</span>
        <select>
            <option value="">全国各地致公网站</option>
            @foreach (DataRow item in dt_link.Rows)
            {
                if (item["ClassId"].ToString() == "50")
                {
                    <option value="@(item["WebUrl"].ToString())">@(item["Title"].ToString())</option>
                }
            }
        </select>
        <select>
            <option value="">政府及其他网站</option>
            @foreach (DataRow item in dt_link.Rows)
            {
                if (item["ClassId"].ToString() == "51")
                {
                    <option value="@(item["WebUrl"].ToString())">@(item["Title"].ToString())</option>
                }
            }
        </select>
        <select>
            <option value="">新闻网站</option>
            @foreach (DataRow item in dt_link.Rows)
            {
                if (item["ClassId"].ToString() == "54")
                {
                    <option value="@(item["WebUrl"].ToString())">@(item["Title"].ToString())</option>
                }
            }
        </select>
    </p>
    <script type="text/javascript">
        $(function () {
            $("#link_list select").change(function () {
                var url = $(this).val();
                if (url != "") {
                    window.open(url, '_blank');
                }
            })
        })
    </script>
</div>
