@{
    ViewBag.Title = "重庆装修报价网 家装设计公司 室内装饰效果图-致公党官网";
    ViewBag.Keywords = "重庆装修网,重庆家装公司,重庆装饰公司,室内装饰效果图,重庆装修公司";
    ViewBag.Description = "致公党装饰是重庆装修公司排名前十强，提供新房装修、别墅装修、旧房翻新服务，同时还在线提供免费装修报价、免费申请设计方案、精品室内装饰效果图等。";
}
@model ZGD.Web.Controllers.IndexDTO

@section Head
{
    <link href="/Content/Scripts/jquery.flexslider/flexslider.css" rel="stylesheet" />
    <script src="/Content/Scripts/jquery.flexslider/jquery.flexslider-min.js"></script>
    <script src="/Content/Scripts/bxCarousel.js"></script>
    <script src="/Content/Scripts/jquery.form.js"></script>
}
@using ZGD.Common
@using System.Data
@{Html.RenderAction("Top", "Ctrl", new { menuID = 1 });}
<!--content begin-->
<div class="slider_panel flexslider" id="slider_panel">
    <ul class="slides">
        @foreach (DataRow item in Model.AdList.Rows)
        {
            <li><a href="@(item["Url"].ToString())" target="_blank" style="background-image:url(@(item["ImgUrl"].ToString()));"></a></li>
        }
    </ul>
    <div id="slider_modal_p" class="main">
        <div class="slider_modal_bg">
            <div class="slider_modal" id="slider_modal">
                <ul class="slider_modal_tab">
                    <li data="1" class="hover">0元设计</li>
                    <li data="2">免费报价</li>
                </ul>
                <div class="slider_modal_con" id="slider_modal_con_1">
                    <p class="sj_top">
                        <img src="/Content/Images/s_1.jpg" /> <br />
                        今日还剩<b>101</b>个名额
                    </p>
                    <div class="sj_bom">
                        <form id="ly_form">
                            <p><input type="text" id="ly_UserName" name="UserName" placeholder="请输入您的称呼" /></p>
                            <p><input type="text" id="ly_Phone" name="Phone" placeholder="请输入您的手机号" /></p>
                            <p><input type="text" id="ly_House" name="House" placeholder="请输入您的小区" /></p>
                            <p><input type="text" id="ly_vCode" name="vCode" placeholder="请输入验证码" style="width:50%;" /><img src="/Tools/verify_code.ashx" onclick="ChangeCode('a_join_code');" id="a_join_code" style="height:28px;margin-left:5px;cursor:pointer;" title="点击换一张" /></p>
                            <p><a href="javascript:;" onclick="zt_join('ly_form', 'ly');" class="btn">抢先领取</a></p>
                            <input type="hidden" value="13" name="aID" />
                        </form>
                    </div>
                </div>
                <div class="slider_modal_con" id="slider_modal_con_2" style="display:none;">
                    <div class="sj_bom">
                        <form id="cacl_form_sj">
                            <div class="space10"></div>
                            <p style="padding-bottom:4px;"><input type="text" class="txt mj" placeholder="房屋面积" id="cacl_mj_sj" name="Area" /></p>
                            <p style="padding-bottom:4px;">
                                <select id="cacl_hx_sj" name="ClassId2">
                                    <option value="0" data="0">选择装修户型</option>
                                    @foreach (DataRow item in ViewBag.DataHX.Rows)
                                    {
                                        <option value="@(item["Id"].ToString())">@(item["Title"].ToString())</option>
                                    }
                                </select>
                            </p>
                            <p style="padding-bottom:10px;">
                                <select id="cacl_fg_sj" name="ClassId">
                                    <option value="0" data="0">选择装修风格</option>
                                    @foreach (DataRow item in ViewBag.DataFG.Rows)
                                    {
                                        <option value="@(item["Id"].ToString())">@(item["Title"].ToString())</option>
                                    }
                                </select>
                            </p>
                            <p style="padding-bottom:4px;">
                                <select name="AreaAddr" id="cacl_Area_sj">
                                    <option value="">选择装修区域</option>
                                    <option value="渝中">渝中</option>
                                    <option value="南岸">南岸</option>
                                    <option value="沙坪坝">沙坪坝</option>
                                    <option value="九龙坡">九龙坡</option>
                                    <option value="江北">江北</option>
                                    <option value="渝北">渝北</option>
                                    <option value="大渡口">大渡口</option>
                                    <option value="北碚">北碚</option>
                                    <option value="巴南">巴南</option>
                                </select>
                            </p>
                            <p style="padding-bottom:4px;"><input type="text" id="cacl_UserTel_sj" name="UserTel" placeholder="请输入您的手机号" /></p>
                            <p style="padding-bottom:4px;"><input type="text" id="cacl_UserName_sj" name="UserName" placeholder="请输入您的姓名" /></p>
                            <p style="padding-bottom:4px;"><input type="text" id="cacl_code_sj" name="vCode" placeholder="请输入验证码" style="width:50%;" /><img src="/Tools/verify_code.ashx" onclick="ChangeCode('cacl_join_code');" id="cacl_join_code" style="height:28px;margin-left:5px;cursor:pointer;" title="点击换一张" /></p>
                            <p><a href="javascript:;" onclick="SubmitCacl_sj();" class="btn">10秒快速获取报价</a></p>
                            <input type="hidden" name="Remark" id="cacl_Remark_sj" />
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function zt_join(id, type) {
                    var name = $("#" + type + "_UserName").val();
                    var tel = $("#" + type + "_Phone").val();
                    var house = $("#" + type + "_House").val();
                    var code = $("#" + type + "_vCode").val();
                    if ($.trim(name) == "") {
                        layer.alert("请输入您的称呼!");
                        return false;
                    }
                    if ($.trim(tel) == "") {
                        layer.alert("请输入您的电话!");
                        return false;
                    }
                    if ($.trim(house) == "") {
                        layer.alert("请输入您的小区名称!");
                        return false;
                    }
                    if ($.trim(code) == "") {
                        layer.alert("请输入您的验证码!");
                        return false;
                    }
                    $("#" + id).ajaxSubmit({
                        url: "/home/ajoin",
                        type: "post",
                        dataType: "json",
                        beforeSubmit: function () {
                            layer.load(1, { shade: [0.1, '#000'] });
                        },
                        error: function () {
                            layer.closeAll('loading');
                            layer.alert("请求失败");
                        },
                        success: function (data) {
                            layer.closeAll('loading');
                            if (data != null) {
                                if (data.Success) {
                                    $("#ly_form input[type='text']").val("");
                                    ChangeCode('a_join_code');
                                    layer.alert(data.Msg);
                                }
                                else
                                    layer.alert(data.Msg);
                            }
                            else
                                layer.alert("提交失败");
                        }
                    });
                    return false;
                }
                function SubmitCacl_sj() {
                    var name = $("#cacl_UserName_sj").val();
                    var phone = $("#cacl_UserTel_sj").val();
                    var fg = $("#cacl_fg_sj").val();
                    var hx = $("#cacl_hx_sj").val();
                    var area = $("#cacl_Area_sj").val();
                    var mj = $("#cacl_mj_sj").val();
                    var code = $("#cacl_code_sj").val();
                    if ($.trim(code) == "") {
                        layer.alert("请输入验证码！");
                        return false;
                    }
                    if ($.trim(name) == "" || $.trim(area) == "" || $.trim(phone) == "" || $.trim(mj) == "" || $.trim(fg) == "" || $.trim(hx) == "") {
                        layer.alert("请仔细填写，您还有未填的必填项！");
                        return false;
                    }
                    if (phone.length != 11) {
                        layer.alert("请输入正确的手机号码！");
                        return false;
                    }
                    var remark = "装修区域：" + area;
                    $("#cacl_Remark_sj").val(remark);
                    $("#cacl_form_sj").ajaxSubmit({
                        url: "/home/cacl",
                        type: "post",
                        dataType: "json",
                        beforeSubmit: function () {
                            layer.load(1, { shade: [0.1, '#000'] });
                        },
                        error: function () {
                            layer.closeAll('loading');
                            layer.alert("请求失败");
                        },
                        success: function (data) {
                            layer.closeAll('loading');
                            if (data != null) {
                                if (data.Success) {
                                    //$("#myMoney_p").show();
                                    //$("#myMoney").html(data.Source);
                                    $("#cacl_form_sj input[type='text']").val("");
                                    layer.alert(data.Msg);
                                }
                                else
                                    layer.alert(data.Msg);
                            }
                            else
                                layer.alert("提交失败");
                        }
                    });
                    return false;
                }
                $("#slider_modal .slider_modal_tab li").hover(function () {
                    var data = $(this).attr("data");
                    $("#slider_modal .slider_modal_tab li").removeClass("hover");
                    $(this).addClass("hover");
                    $("#slider_modal .slider_modal_con").hide();
                    $("#slider_modal_con_" + data).show();
                });
            </script>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#slider_panel").flexslider({
        animation: "slide",
        slideshowSpeed: 4000
    });
    //$("#slider_panel").xslider({
    //    unitdisplayed:1,
    //    movelength:1
    //});
</script>
<div class="space20"></div>
<div class="index_lc">
    <div class="main">
        <a href="/join" class="lc_ico ys">看预算</a>
        <a href="/designer" class="lc_ico sjs">选设计师</a>
        <a href="/project" class="lc_ico gd">看工地</a>
        <a href="/join" class="lc_ico sj">申请免费设计</a>
        <a href="/page?type=LiuCheng" class="lc_ico lc">装修流程</a>
    </div>
</div>
<div id="content" class="main">
    <div id="cacl_panel">
        <div class="cacl_top">
            <form method="post" id="cacl_form">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td width="350">
                            <div class="cacl_title">
                                <p>已有<strong>@(ViewBag.BjCount + 2000)</strong>位业主成功获取人工精准报价</p>
                            </div>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    房屋户型&nbsp;&nbsp;
                                    <select id="cacl_hx" name="ClassId">
                                        <option value="0" data="0">选择装修户型</option>
                                        @foreach (DataRow item in ViewBag.DataHX.Rows)
                                        {
                                            <option value="@(item["Id"].ToString())">@(item["Title"].ToString())</option>
                                        }
                                    </select>
                                    房屋面积&nbsp;&nbsp;
                                    <input type="text" class="txt mj" placeholder="房屋面积" id="cacl_Area" name="Area" />
                                    房屋类型&nbsp;&nbsp;
                                    <select id="sel_hType" name="hType"><option value="1">新房</option><option value="2">旧房</option></select>
                                </li>
                                <li>
                                    装修区域&nbsp;&nbsp;
                                    <select name="AreaAddr" id="cacl_AreaAddr"><option value="">装修区域</option><option>渝中</option><option>南岸</option><option>沙坪坝</option><option>九龙坡</option><option>江北</option><option>渝北</option><option>大渡口</option><option>北碚</option><option>巴南</option></select>
                                    楼盘名称&nbsp;&nbsp;
                                    <input type="text" class="txt" style="width:300px;" placeholder="楼盘名称" id="cacl_House" name="House" />
                                </li>
                                <li style="line-height: 24px;padding-right: 10px;">
                                    <span style="float:left;height:48px;">装修风格&nbsp;&nbsp;</span>
                                    <div style="float:left;height:48px;width:520px;">
                                        @{
                                            int idx_fg = 1;
                                        }
                                        @foreach (DataRow item in ViewBag.DataFG.Rows)
                                        {<input type="radio" name="ClassId2" @if (idx_fg == 1) { @Html.Raw("checked=\"checked\"")                          } value="@(item["Id"].ToString())" /> @Html.Raw(item["Title"].ToString() + "&nbsp;&nbsp;"); idx_fg++;
                                        }
                                    </div>
                                </li>
                                <li style="display:none;">
                                    装修套餐&nbsp;&nbsp;
                                    <input type="radio" name="caclType" checked="checked" value="1" /> 现代系列&nbsp;&nbsp;<input type="radio" name="caclType" value="2" /> 世家系列
                                </li>
                                <li>
                                    您的称呼&nbsp;&nbsp;
                                    <input type="text" class="txt" placeholder="您的称呼" id="cacl_UserName" name="UserName" />
                                    手机号码&nbsp;&nbsp;
                                    <input type="text" class="txt" placeholder="手机号" style="width:150px;" id="cacl_UserTel" name="UserTel" />
                                </li>
                                <li>
                                    &nbsp;&nbsp;&nbsp;&nbsp;验证码&nbsp;
                                    <input type="text" class="txt" placeholder="图片验证码" name="vCode" id="cacl_vCode" /><img src="/Tools/verify_code.ashx" id="nl_cacl_code" style="height:28px;margin-left:2px;" /> <a href="javascript:;" onclick="ChangeCode('nl_cacl_code');" style="margin-left:5px;text-decoration:underline">看不清楚</a>
                                    <input type="hidden" value="1" id="f_type" name="fType" />
                                    <input type="hidden" value="" id="cacl_Remark" name="Remark" />
                                    <a href="javascript:;" onclick="SubmitCacl()" class="red">发送报价到手机</a>
                                </li>
                            </ul>
                        </td>
                        <td width="150">
                            <div class="cacl_result">
                                <p>短信报价价格仅供参考，实际装修价格以人工报价为准，想要尽快获取精准报价，请点击人工精准报价。</p>
                                <a href="http://p.qiao.baidu.com//im/index?siteid=8316243&ucid=19605673" target="_blank" class="yellow">人工精确报价</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <script type="text/javascript">
                function SubmitCacl() {
                    var name = $("#cacl_UserName").val();
                    var phone = $("#cacl_UserTel").val();
                    var house = $("#cacl_House").val();
                    var area = $("#cacl_Area").val();
                    var code = $("#cacl_vCode").val();
                    if ($.trim(code) == "") {
                        layer.alert("请输入验证码！");
                        return false;
                    }
                    if ($.trim(name) == "" || $.trim(area) == "" || $.trim(phone) == "" || $.trim(house) == "") {
                        layer.alert("请仔细填写，您还有未填的必填项！");
                        return false;
                    }
                    if (phone.length != 11) {
                        layer.alert("请输入正确的手机号码！");
                        return false;
                    }
                    var remark = "装修区域：" + $("#cacl_AreaAddr").val();
                    $("#cacl_Remark").val(remark);
                    $("#cacl_form").ajaxSubmit({
                        url: "/home/cacl",
                        type: "post",
                        dataType: "json",
                        beforeSubmit: function () {
                            layer.load(1, { shade: [0.1, '#000'] });
                        },
                        error: function () {
                            layer.closeAll('loading');
                            layer.alert("请求失败");
                        },
                        success: function (data) {
                            layer.closeAll('loading');
                            if (data != null) {
                                if (data.Success) {
                                    $("#cacl_form input[type='text']").val("");
                                    layer.alert(data.Msg);
                                }
                                else
                                    layer.alert(data.Msg);
                            }
                            else
                                layer.alert("提交失败");
                        }
                    });
                    return false;
                }
            </script>
        </div>
        @*<div class="cacl_bom">
                <a href="/join" class="btn">立即预约免费量房</a>
            </div>*@
    </div>
    <div class="space30"></div>
    <div class="ty_panel" id="tc_panel">
        <div class="panel_top">
            <span class="more">
                汇集各种装修风格，满足您的需求！
                <a href="/case">更多&gt;&gt;</a>
            </span>
            <h1 class="title">重庆装修效果图</h1>
        </div>
        <div class="panel_con">
            <div class="panel_con_top">
                <div class="fg_list">
                    <div>
                        <h3>功能间</h3>
                        <p>
                            @foreach (DataRow item in ViewBag.DataGN.Rows)
                            {
                                <a href="/case?t=10&v=@(item["Id"].ToString())">@(item["Title"].ToString())</a>
                            }
                        </p>
                    </div>
                    <div class="space30"></div>
                    <div>
                        <h3>户型</h3>
                        <p>
                            @foreach (DataRow item in ViewBag.DataHX.Rows)
                            {
                                <a href="/case?t=4&v=@(item["Id"].ToString())">@(item["Title"].ToString())</a>
                            }
                        </p>
                    </div>
                    <div class="space30"></div>
                    <div>
                        <h3>风格</h3>
                        <p>
                            @foreach (DataRow item in ViewBag.DataFG.Rows)
                            {
                                <a href="/case?t=3&v=@(item["Id"].ToString())">@(item["Title"].ToString())</a>
                            }
                        </p>
                    </div>
                </div>
                <div class="fg_ad">
                    <div class="img_left">
                        @{
                            int idx = 0;
                        }
                        @if (Model.Cases != null)
                        {
                            foreach (DataRow item in Model.Cases.Rows)
                            {
                                if (idx == 0)
                                {
                                    <a href="/case/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    <div class="bg">
                                        <a href="/case/@(item["Id"].ToString())">@(item["fg"].ToString())/@(item["hx"].ToString())/@(item["Area"].ToString())m²</a>
                                    </div>
                                }
                                idx++;
                            }
                        }
                    </div>
                    <ul class="img_list">
                        @if (Model.Cases != null)
                        {
                            idx = 0;
                            foreach (DataRow item in Model.Cases.Rows)
                            {
                                if (idx > 0 && idx < 3)
                                {
                                    <li>
                                        <a href="/case/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                        <div class="bg">
                                            <a href="/case/@(item["Id"].ToString())">@(item["fg"].ToString())/@(item["hx"].ToString())/@(item["Area"].ToString())m²</a>
                                        </div>
                                    </li>
                                }
                                idx++;
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="space10"></div>
            <div class="panel_con_bom">
                <ul class="img_list">
                    @if (Model.Cases != null)
                    {
                        idx = 0;
                        foreach (DataRow item in Model.Cases.Rows)
                        {
                            if (idx > 2)
                            {
                                <li>
                                    <a href="/case/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    <div class="bg">
                                        <a href="/case/@(item["Id"].ToString())">@(item["fg"].ToString())/@(item["hx"].ToString())/@(item["Area"].ToString())m²</a>
                                    </div>
                                </li>
                            }
                            idx++;
                        }
                    }
                </ul>
            </div>
            <script type="text/javascript">
                $(".img_list li").hover(function () {
                    $(this).children("div.bg").fadeIn();
                },
                    function () {
                        $(this).children("div.bg").hide();
                    });
                $(".img_left").hover(function () {
                    $(this).children("div.bg").fadeIn();
                },
                    function () {
                        $(this).children("div.bg").hide();
                    });
            </script>
        </div>
    </div>
    <div class="space40"></div>
    <div class="ty_panel" id="gd_panel">
        <div class="panel_top">
            <span class="more">
                重庆各大楼盘装修在建工地真实展示！
                <a href="/project">更多&gt;&gt;</a>
            </span>
            <h1 class="title">重庆装修工地</h1>
        </div>
        <div class="panel_con">
            <div class="panel_con_top">
                <div class="fg_list">
                    <div>
                        <h3>户型</h3>
                        <p>
                            @foreach (DataRow item in ViewBag.DataHX.Rows)
                            {
                                <a href="/project?hx=@(item["Id"].ToString())&qy=&jd=">@(item["Title"].ToString())</a>
                            }
                        </p>
                    </div>
                    <div class="space30"></div>
                    <div>
                        <h3>区域</h3>
                        <p>
                            @foreach (DataRow item in ViewBag.DataQY.Rows)
                            {
                                <a href="/project?hx=&qy=@(item["Id"].ToString())&jd=">@(item["Title"].ToString())</a>
                            }
                        </p>
                    </div>
                    <div class="space30"></div>
                    <div>
                        <h3>进程</h3>
                        <p>
                            @foreach (DataRow item in ViewBag.DataJD.Rows)
                            {
                                <a href="/project?hx=&qy=&jd=@(item["Id"].ToString())">@(item["Title"].ToString())</a>
                            }
                        </p>
                    </div>
                </div>
                <div class="gd_list">
                    <ul>
                        @foreach (DataRow item in Model.GongDi.Rows)
                        {
                            <li>
                                <a href="/project/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                <p title="@(item["Title"].ToString())"><a href="/project/@(item["Id"].ToString())">预约参观</a>@(item["Title"].ToString())</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="space40"></div>
    <div class="ty_panel" id="gd_panel">
        <div class="panel_top">
            <span class="more">
                更多装修楼盘户型即将发布！
                <a href="/house">更多&gt;&gt;</a>
            </span>
            <h1 class="title">重庆装修楼盘</h1>
        </div>
        <div class="panel_con">
            <ul class="lp_list" id="lp_list">
                @foreach (DataRow item in Model.House.Rows)
                {
                    <li>
                        <a href="/house/@(item["ID"].ToString())" title="@(item["Title"].ToString())">
                            <img src="@(item["ImgUrl"].ToString())" />
                        </a>
                        <div class="info">
                            <a href="/house/@(item["ID"].ToString())">预约楼盘</a>
                            <h3 title="@(item["Title"].ToString())">@(item["Title"].ToString())</h3>
                            <p>楼盘案例@(string.IsNullOrWhiteSpace(item["cCount"].ToString()) ? "0" : item["cCount"].ToString())户&nbsp;&nbsp;&nbsp;工地@(string.IsNullOrWhiteSpace(item["pCount"].ToString()) ? "0" : item["pCount"].ToString())户</p>
                        </div>
                        <div class="bg">
                            <a href="/house/@(item["ID"].ToString())">查看楼盘 &gt;</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <script type="text/javascript">
            $("#lp_list li").hover(function () {
                $(this).children("div.bg").fadeIn();
            },
                function () {
                    $(this).children("div.bg").hide();
                });
        </script>
    </div>
    <div class="space40"></div>
    <div class="ty_panel" id="hz_panel">
        <div class="panel_top">
            <span class="more">
                重庆装修选择一站式家装公司，装修更省事、省心、省钱
                <!--<a href="#">更多&gt;&gt;</a>-->
            </span>
            <span class="title">合作商家</span>
        </div>
        <div class="panel_con">
            <img src="/Files/Ad/gg.jpg" src="重庆家装公司" />
            <div class="space30"></div>
            <div id="hz_news_panel">
                <div class="hz_news_panel_l" id="hz_news_panel_l">
                    <div class="hz_news_panel">
                        <div class="news_panel_top">
                            <a href="/news" class="more">更多 &gt;&gt;</a>
                            <span data="1" class="hover">家装攻略</span><span data="2">装修材料</span><span data="3">家装设计</span><span data="4">家居风水</span>
                        </div>
                        <div class="news_panel_con" id="hz_news_panel_1">
                            <div class="news_panel_con_l">
                                @{
                                    int idx_news = 1;
                                }
                                @foreach (DataRow item in Model.News1.Rows)
                                {
                                    if (idx_news == 1)
                                    {
                                        <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(16, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(65))<a href="/news/@(item["Id"].ToString())">【详细】</a></p>
                                    }
                                    idx_news++;
                                }
                            </div>
                            <div class="news_panel_con_r">
                                <ul class="news_list">
                                    @{
                                        idx_news = 1;
                                    }
                                    @foreach (DataRow item in Model.News1.Rows)
                                    {
                                        if (idx_news > 1)
                                        {
                                            <li><span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17))</a></li>
                                        }
                                        idx_news++;
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="news_panel_con" id="hz_news_panel_2" style="display:none;">
                            <div class="news_panel_con_l">
                                @{
                                    idx_news = 1;
                                }
                                @foreach (DataRow item in Model.News2.Rows)
                                {
                                    if (idx_news == 1)
                                    {
                                        <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(16, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(65))<a href="/news/@(item["Id"].ToString())">【详细】</a></p>
                                    }
                                    idx_news++;
                                }
                            </div>
                            <div class="news_panel_con_r">
                                <ul class="news_list">
                                    @{
                                        idx_news = 1;
                                    }
                                    @foreach (DataRow item in Model.News2.Rows)
                                    {
                                        if (idx_news > 1)
                                        {
                                            <li><span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17))</a></li>
                                        }
                                        idx_news++;
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="news_panel_con" id="hz_news_panel_3" style="display:none;">
                            <div class="news_panel_con_l">
                                @{
                                    idx_news = 1;
                                }
                                @foreach (DataRow item in Model.News3.Rows)
                                {
                                    if (idx_news == 1)
                                    {
                                        <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(16, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(65))<a href="/news/@(item["Id"].ToString())">【详细】</a></p>
                                    }
                                    idx_news++;
                                }
                            </div>
                            <div class="news_panel_con_r">
                                <ul class="news_list">
                                    @{
                                        idx_news = 1;
                                    }
                                    @foreach (DataRow item in Model.News3.Rows)
                                    {
                                        if (idx_news > 1)
                                        {
                                            <li><span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17))</a></li>
                                        }
                                        idx_news++;
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="news_panel_con" id="hz_news_panel_4" style="display:none;">
                            <div class="news_panel_con_l">
                                @{
                                    idx_news = 1;
                                }
                                @foreach (DataRow item in Model.News4.Rows)
                                {
                                    if (idx_news == 1)
                                    {
                                        <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(16, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(65))<a href="/news/@(item["Id"].ToString())">【详细】</a></p>
                                    }
                                    idx_news++;
                                }
                            </div>
                            <div class="news_panel_con_r">
                                <ul class="news_list">
                                    @{
                                        idx_news = 1;
                                    }
                                    @foreach (DataRow item in Model.News4.Rows)
                                    {
                                        if (idx_news > 1)
                                        {
                                            <li><span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17))</a></li>
                                        }
                                        idx_news++;
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hz_news_panel_r">
                    <div class="hz_news_panel">
                        <div class="news_panel_top">
                            <a href="/news?t=71" class="more">更多 &gt;&gt;</a>
                            <span class="hover">港宏动态</span>
                        </div>
                        <div class="news_panel_con">
                            <div class="news_panel_con_t">
                                @{
                                    idx_news = 1;
                                }
                                @foreach (DataRow item in Model.News5.Rows)
                                {
                                    if (idx_news == 1)
                                    {
                                        <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(16, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(65))<a href="/news/@(item["Id"].ToString())">【详细】</a></p>
                                    }
                                    idx_news++;
                                }
                            </div>
                            <div class="news_panel_con_b">
                                <ul class="news_list">
                                    @{
                                        idx_news = 1;
                                    }
                                    @foreach (DataRow item in Model.News5.Rows)
                                    {
                                        if (idx_news > 1)
                                        {
                                            <li><span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(22))</a></li>
                                        }
                                        idx_news++;
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $("#hz_news_panel_l .news_panel_top span").hover(function () {
                        var data = $(this).attr("data");
                        $("#hz_news_panel_l .news_panel_top span").removeClass("hover");
                        $(this).addClass("hover");
                        $("#hz_news_panel_l .news_panel_con").hide();
                        $("#hz_news_panel_" + data).show();
                    })
                </script>
            </div>
            <div class="space20"></div>
            <div id="index_ask">
                <div class="hz_news_panel">
                    <div class="news_panel_top">
                        <a href="/wd" class="more">更多 &gt;&gt;</a>
                        <span class="hover">重庆装修问答</span>
                    </div>
                    <div class="news_panel_con">
                        <div class="ask_p left">
                            <div class="ad">
                                <a href="/wd"><img src="/Content/Images/ask_ad1.jpg" /></a>
                            </div>
                            <ul class="ask_list">
                                @{
                                    idx = 1;
                                }
                                @foreach (DataRow item in ViewBag.QA.Rows)
                                {
                                    if (idx < 5)
                                    {
                                        <li>
                                            <a href="/wd/@(item["ID"].ToString())"><span>@(item["aCount"].ToString())回答</span>@(item["Title"].ToString().ToSubString(30))</a>
                                        </li>
                                    }
                                    idx++;
                                }
                            </ul>
                        </div>
                        <div class="ask_p right">
                            <div class="ad">
                                <a href="/wd"><img src="/Content/Images/ask_ad2.jpg" /></a>
                            </div>
                            <ul class="ask_list">
                                @{
                                    idx = 1;
                                }
                                @foreach (DataRow item in ViewBag.QA.Rows)
                                {
                                    if (idx > 4)
                                    {
                                        <li>
                                            <a href="/wd/@(item["ID"].ToString())"><span>@(item["aCount"].ToString())回答</span>@(item["Title"].ToString().ToSubString(30))</a>
                                        </li>
                                    }
                                    idx++;
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>