@{
    ViewBag.Title = "重庆装修真实报价 靠谱的家装预算计算器";
    ViewBag.Keywords = "重庆装修报价,家装预算,家装报价,装修预算";
    ViewBag.Description = "重庆装修报价网提供最真实的免费家庭装修报价，88%的业主反馈此装修预算靠谱，重庆装修报价网报价均采用菜单式报价，这也是最贴合实际的家装报价模式。";
    //ViewBag.Title = "旧房改造装修 旧房翻新 老房装修设计-港宏宜家官网";
    //ViewBag.Keywords = "旧房改造,旧房翻新,旧房装修,老房装修,装修设计";
    //ViewBag.Description = "旧房改造、老房装修设计是港宏装饰重点管理项目，为您的爱家重放光彩。旧房改造、老房装修设计也是为爱家重塑工艺布置，消除隐患。";
}

@section Head
{
    <style type="text/css">
        #content { border-top: solid 1px #8E8E8E; }
        .cacl_panel { width: 100%; display: inline-block; border: solid 2px #F41C2D; padding: 50px 0; }
        .cacl_r { width: 300px; float: right; padding: 0 50px; }
        .cacl_l { width: 675px; float: left; padding: 0 50px; padding-right: 60px; border-right: dashed 1px #777; }
        .cacl_l h3 { font-size: 26px; font-weight: 500; margin-bottom: 10px; }
        .cacl_l h3 span { font-size: 14px; }
        .cacl_l h3 span i { color: #F41C2D }
        .cacl_l table { border-collapse: collapse; }
        .cacl_l table tr td { padding: 8px 2px; font-size: 14px; }
        .cacl_l table tr td input { width: 80%; height: 30px; line-height: 30px; padding-left: 5px; border: solid 1px #A9A9A9; }
        .cacl_l table tr td select { width: 83%; height: 33px; line-height: 33px; padding-left: 5px; border: solid 1px #A9A9A9; }
        .cacl_l hr { margin: 30px 0; }
        .cacl_l p { text-align: center; padding: 0; }
        .cacl_l p.word { font-size: 18px; padding-top: 10px; display: none; }
        .cacl_l p.word b { color: #F41C2D; padding: 0 5px; }
        .cacl_l .btn { height: 45px; line-height: 45px; padding: 0 20px; color: #F41C2D; border: solid 2px #F41C2D; display: inline-block; font-size: 20px; }
        .cacl_r { font-size: 14px; }
        .cacl_r h3 { font-size: 16px; }
        .cacl_r div { padding-top: 10px; }
        .cacl_r div li { height: 20px; line-height: 20px; border-bottom: solid 1px #F41C2D; border-left: solid 4px #F41C2D; margin: 10px 0; margin-bottom: 15px; padding-left: 5px; }
        .cacl_panel2 { width: 100%; display: inline-block; }
        .cacl_panel2 .title { font-size: 26px; border-left: solid 10px #F41C2D; padding-left: 10px; }
        .cacl_panel2 .title a { color: #F41C2D; }
        .cacl_panel2 .cacl_con { width: 100%; padding-top: 20px; color: #000; display: inline-block; }
        .cacl_panel2 .cacl_con.bg1 { width: 100%; height: 625px; background: url(/Content/Images/cacl/ad.jpg) no-repeat center bottom; position: relative; }
        .cacl_panel2 .cacl_con.bg1 .btn { width: 340px; height: 62px; position: absolute; right: 80px; bottom: 36px; }
        .cacl_panel2 .cacl_con .des_list { padding: 0; }
        .cacl_panel2 .cacl_con .des_list li { width: 220px; margin-right: 20px; margin-bottom: 0; text-align: center; border: 0; }
        .cacl_panel2 .cacl_con .des_list li img { height: 300px; }
        .cacl_panel2 .cacl_con .des_list li:last-child { margin-right: 0; }
        .cacl_panel2 .cacl_con .des_list li p { font-size: 16px; padding-top: 10px; }
        .cacl_panel2 .cacl_con .gd_list { padding: 0; width: 100%; }
        .cacl_panel2 .cacl_con .gd_list li { width: 380px; height: 300px; margin: 0; margin-right: 20px; text-align: center; border: 0; position: relative; }
        .cacl_panel2 .cacl_con .gd_list li img { width: 380px; height: 300px; }
        .cacl_panel2 .cacl_con .gd_list li:last-child { margin-right: 0; }
        .cacl_panel2 .cacl_con .gd_list li p { font-size: 16px; padding: 5px 0; text-align: center; position: absolute; left: 0; bottom: 0; width: 100%; border: 0; background: url(/Content/Images/word_bg.png) repeat; color: #fff; }
        .cacl_panel2 .cacl_con .cacl_bom { }
        .cacl_panel2 .cacl_con .cacl_bom .add_list { width: 340px; float: right; font-size: 14px; }
        .cacl_panel2 .cacl_con .cacl_bom .add_list h3 { font-size: 18px; color: #F41C2D; }
        .cacl_panel2 .cacl_con .cacl_bom .add_list div { width:60%; margin-bottom: 10px; border-bottom: dashed 1px #777; padding-bottom: 5px; }
        .cacl_panel2 .cacl_con .cacl_bom .add_list div h4 { }
    </style>

}
@using System.Data
@using ZGD.Common
@{Html.RenderAction("Top", "Ctrl", new { menuID = 6 });}
<script src="~/Content/Scripts/bxCarousel.js"></script>
<div id="content">
    <div class="main">
        <div class="nav_title">当前位置：<a href="/">首页</a>&gt;<a href="/join?type=@ViewBag.JoinTypeID">@ViewBag.JoinTypeName</a></div>
    </div>
    <div class="space10"></div>
    <div class="main">
        <div class="cacl_panel">
            <div class="cacl_r">
                <h3>88%业主反馈此报告靠谱</h3>
                <div>
                    <marquee id="logs" align="left" behavior="scroll" bgcolor="#ffffff" direction="up" height="354" width="100%" loop="-1" scrollamount="5" scrolldelay="20" onMouseOut="this.start()" onMouseOver="this.stop()">
                        <ul>
                            @foreach (DataRow item in ViewBag.Log.Rows)
                            {
                                <li>@(item["UserName"].ToString()) @(item["UserTel"].ToString().ToPhone())  刚刚获取了装修预算</li>
                            }
                        </ul>
                    </marquee>
                </div>
            </div>
            <div class="cacl_l">
                <h3>家庭装修计算器<span>（已有<i id="jt_count">@(ViewBag.LogCount + 2000)</i>位业主获取了免费设计名额）</span></h3>
                <form method="post" action="/Page/Join.aspx" id="cacl_form">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td width="75">您的姓名：</td>
                            <td><input type="text" class="txt_s" name="UserName" id="cacl_UserName" placeholder="请输入您的姓名" /></td>
                            <td width="75">手机号码：</td>
                            <td>
                                <input type="text" class="txt_s" name="UserTel" id="cacl_UserTel" placeholder="请输入您的手机号码" />
                            </td>
                        </tr>
                        <tr>
                            <td>所在区域：</td>
                            <td>
                                <select name="AreaAddr" id="cacl_Area">
                                    <option value="">装修区域</option>
                                    <option value="渝中">渝中</option>
                                    <option value="南岸">南岸</option>
                                    <option value="沙坪坝">沙坪坝</option>
                                    <option value="九龙坡">九龙坡</option>
                                    <option value="江北">江北</option>
                                    <option value="渝北">渝北</option>
                                    <option value="大渡口">大渡口</option>
                                    <option value="北碚">北碚</option>
                                    <option value="巴南">巴南</option>
                                </select>
                            </td>
                            <td>房屋面积：</td>
                            <td><input type="text" class="txt_s mj" name="Area" id="cacl_mj" placeholder="请输入您的房屋面积" /></td>
                        </tr>
                        <tr>
                            <td>房屋户型：</td>
                            <td>
                                <select id="cacl_hx" name="ClassId">
                                    <option value="0" data="0">选择装修户型</option>
                                    @foreach (DataRow item in ViewBag.DataHX.Rows)
                                    {
                                    <option value="@(item["Id"].ToString())">@(item["Title"].ToString())</option>
                                    }
                                </select>
                            </td>
                            <td>装修风格：</td>
                            <td>
                                <select id="cacl_fg" name="ClassId2">
                                    <option value="0" data="0">选择装修风格</option>
                                    @foreach (DataRow item in ViewBag.DataFG.Rows)
                                    {
                                    <option value="@(item["Id"].ToString())">@(item["Title"].ToString())</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">验证码：</td>
                            <td colspan="3">
                                <input type="text" class="txt_s" name="vCode" id="cacl_vCode" style="width:120px;float:left;" placeholder="验证码" /> <img src="/Tools/verify_code.ashx" onclick="ChangeCode('nl_join_code');" id="nl_join_code" style="height:32px;margin-left:2px;" />
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <input type="hidden" value="1" id="f_type" name="fType" />
                    <input type="hidden" value="" id="cacl_Remark" name="Remark" />
                    <p><a href="javascript:;" onclick="SubmitCacl()" class="btn">开始计算</a></p>
                </form>
                <p class="word" id="myMoney_p">你爱家的装修初步预算为<b id="myMoney">0</b>元</p>

                <script type="text/javascript">
                    function SubmitCacl() {
                        var name = $("#cacl_UserName").val();
                        var phone = $("#cacl_UserTel").val();
                        var fg = $("#cacl_fg").val();
                        var hx = $("#cacl_hx").val();
                        var area = $("#cacl_Area").val();
                        var mj = $("#cacl_mj").val();
                        var code = $("#cacl_vCode").val();
                        if ($.trim(code) == "") {
                            layer.alert("请输入验证码！");
                            return false;
                        }
                        if ($.trim(name) == "" || $.trim(area) == "" || $.trim(phone) == "" || $.trim(mj) == "" || $.trim(fg) == "" || $.trim(hx) == "") {
                            layer.alert("请仔细填写，您还有未填的必填项！");
                            return false;
                        }
                        if (phone.length != 11) {
                            layer.alert("请输入正确的手机号码！");
                            return false;
                        }
                        var remark = "装修区域：" + area;
                        $("#cacl_Remark").val(remark);
                        $("#cacl_form").ajaxSubmit({
                            url: "/home/cacl",
                            type: "post",
                            dataType: "json",
                            beforeSubmit: function () {
                                layer.load(1, { shade: [0.1, '#000'] });
                            },
                            error: function () {
                                layer.closeAll('loading');
                                layer.alert("请求失败");
                            },
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data != null) {
                                    if (data.Success) {
                                        $("#myMoney_p").show();
                                        $("#myMoney").html(data.Source);
                                        $("#cacl_form input[type='text']").val("");
                                        layer.alert(data.Msg);
                                    }
                                    else
                                        layer.alert(data.Msg);
                                }
                                else
                                    layer.alert("提交失败");
                            }
                        });
                        return false;
                    }
                </script>
            </div>
        </div>
        <div class="space30"></div>
        <div class="cacl_panel2">
            <h2 class="title">家庭装修为什么选择<a href="/">港宏装饰？</a></h2>
            <div class="cacl_con bg1">
                <a class="btn" href="tencent://message/?Menu=yes&amp;amp;uin=938152035&amp;amp;Service=58&amp;amp;SigT=A7F6FEA02730C988CC56645E6D47242BDA4A3EDA26731AAE203288288DEA0051D202D7A02A1E9A7CEC5B3F10786452E6D46B9F464B89D8F7ED7AA9068FBA6B0F7969DF69CBFE92F162A71158CE4B7A5E3AA94292A6372DA39D0649EB826BA9622BD99F4647857926429FD5B9988E136C6FA75E8EFB767F1B&amp;amp;SigU=30E5D5233A443AB2A1AE9CF8B2A5AE842F91EC98C80C6055288BB8BBF35FDADE8D7B229AE87C08F6F8439C12C8372AE693E1330131EA74CEF402C720B0FCD60A429A010EE0C31463" target="_blank"></a>
                @*<div>
                        <h3>港宏装饰规模大</h3>
                        <p>重庆港宏装饰设计工程有限公司成立于2003年，是重庆早期成立的装修公司之一，至今已是集室内装饰设计、施工、家具生产、家居建材代理为一体的多元化集团企业也是重庆家装十强公司之一。</p>
                    </div>
                    <div>
                        <h3>港宏装饰装修经验丰富</h3>
                        <p>港宏装饰至今已为近10万户业主提供家装服务，有优秀的施工团队和领导班子，港宏装饰也是结合重庆本土的施工情况率先推出适合重庆家庭装修的超国标准施工工艺的公司。</p>
                    </div>
                    <div>
                        <h3>港宏装饰报价实惠</h3>
                        <p>港宏装饰在打造品质家装的同时，也从源头为业主控制家装成本报价均采用菜单式报价，即是做了什么项目就算什么项目的价格，装修中途不再另收费用，加上优惠活动减价不减质。</p>
                    </div>
                    <div>
                        <h3>售后保障服务好</h3>
                        <p>港宏装饰承诺严格按照高于行业标准提供“保修、检修、回访、回复”的售后服务，提供终身维修、维护服务，隐蔽工程12小时内到场检修、表面工程48小时到场检修。</p>
                    </div>*@
            </div>
            @*<div class="cacl_bom">
                    <div>
                        <h3 class="red fz18">港宏装饰三大承诺<span>（除了基本的质保外）</span></h3>
                    </div>
                </div>*@
        </div>
        <div class="space30"></div>
        <div class="cacl_panel2">
            <h2 class="title">优秀<a href="/designer">设计师！</a></h2>
            <div class="cacl_con">
                <ul class="des_list">
                    @foreach (DataRow item in ViewBag.DES.Rows)
                    {
                        <li>
                            <a href="/designer/@(item["ID"].ToString())"><img src="@(item["Photo"].ToString())" /></a>
                            <p>@(item["Name"].ToString())</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="space30"></div>
        <div class="cacl_panel2">
            <h2 class="title">最近施工工地</h2>
            <div class="cacl_con">
                <ul class="gd_list">
                    @foreach (DataRow item in ViewBag.ZJSG.Rows)
                    {
                        <li>
                            <a href="/project/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                            <p>@(item["Title"].ToString())</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="space30"></div>
        <div class="cacl_panel2">
            <h2 class="title">本月刚刚施工完成</h2>
            <div class="cacl_con">
                <ul class="gd_list">
                    @foreach (DataRow item in ViewBag.GDWG.Rows)
                    {
                        <li>
                            <a href="/case/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                            <p>@(item["Title"].ToString())</p>
                        </li>
                    }
                </ul>
                <div class="space40"></div>
                <div class="cacl_bom map">
                    <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E6%B8%AF%E5%AE%8F%E8%A3%85%E9%A5%B0" target="_blank"><img src="/Content/Images/cacl/map.jpg" /></a>
                    <div class="add_list">
                        <h3>联系地址：</h3>
                        <div style="margin-top:5px;">
                            <h4>二郎分公司</h4>
                            <p>二郎红星美凯龙6F</p>
                        </div>
                        <div>
                            <h4>北环分公司</h4>
                            <p>渝北区红星美凯龙4F</p>
                        </div>
                        <div>
                            <h4>南坪分公司</h4>
                            <p>南坪工贸钻石国际5F 6F</p>
                        </div>
                        <div>
                            <h4>杨家坪总公司</h4>
                            <p>杨家坪国际金融大厦15F</p>
                        </div>
                        <h3>联系电话：<br />023-68411900&nbsp;&nbsp;023-68409998</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
