@{
    //ViewBag.Title = "装修预算报价 一站式家装报价-港宏宜家官网";
    //ViewBag.Keywords = "装修预算,装修报价,家装报价,一站式家装,宜家装饰,港宏";
    //ViewBag.Description = "装修预算报价是为了方便客户随时随地都可以了解家庭装修的费用、报价，港宏宜家装饰线上装修预算报价提供一站式家装报价服务。";
    ViewBag.Title = "旧房改造装修 旧房翻新 老房装修设计-港宏宜家官网";
    ViewBag.Keywords = "旧房改造,旧房翻新,旧房装修,老房装修,装修设计";
    ViewBag.Description = "旧房改造、老房装修设计是港宏装饰重点管理项目，为您的爱家重放光彩。旧房改造、老房装修设计也是为爱家重塑工艺布置，消除隐患。";
}

@section Head
{
    <style type="text/css">
        #content { border-top: solid 1px #8E8E8E; }
    </style>

}
@using System.Data
@using ZGD.Common
@{Html.RenderAction("Top", "Ctrl", new { menuID = 6 });}

<div id="content">
    <div class="main">
        <div class="nav_title">当前位置：<a href="/">首页</a>&gt;<a href="/join?type=@ViewBag.JoinTypeID">@ViewBag.JoinTypeName</a></div>
    </div>
    <div class="main">
        <div id="main_con" style="width:1140px;padding:30px;">
            <ul class="form_title">
                <li><a href="/join?type=1" @if (ViewBag.JoinTypeID == 1) { @Html.Raw("class=\"hover\"")         ; }>装修预算报价</a></li>
                <li><a href="/join?type=2" @if (ViewBag.JoinTypeID == 2) { @Html.Raw("class=\"hover\"")          ; }>免费参观展厅</a></li>
                <li><a href="/join?type=3" @if (ViewBag.JoinTypeID == 3) { @Html.Raw("class=\"hover\"")          ; }>免费看工地</a></li>
            </ul>
            <div class="form_panel">
                <div class="form_panel_con">
                    <div class="form">
                        <div class="title"><h3>@ViewBag.JoinTypeName</h3><p>在线申请还可以获得精美礼品一份</p></div>
                        <form method="post" action="/Page/Join.aspx" id="form_join">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td align="right" style="padding-left:10px;">您的称呼：</td>
                                        <td>
                                            <input type="text" class="txt_s" name="UserName" id="UserName">
                                        </td>
                                        <td align="right" style="padding-left:50px;">装修风格：</td>
                                        <td>
                                            <select id="cacl_fg" name="ClassId2">
                                                <option value="0" data="0">选择装修风格</option>
                                                @foreach (DataRow item in ViewBag.DataFG.Rows)
                                                {
                                                    <option value="@(item["Id"].ToString())">@(item["Title"].ToString())</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">手机号码：</td>
                                        <td>
                                            <input type="text" class="txt_s" name="UserTel" id="UserTel">
                                        </td>
                                        <td align="right">联系QQ：</td>
                                        <td>
                                            <input type="text" class="txt_s" name="UserQQ" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">楼盘名称：</td>
                                        <td>
                                            <input type="text" class="txt_s" name="House" id="House" />
                                        </td>
                                        <td align="right">装修面积：</td>
                                        <td>
                                            <input type="text" class="txt_s mj" name="Area" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">装修要求：</td>
                                        <td colspan="3">
                                            <textarea class="txt_m" name="YaoQiu"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">验证码：</td>
                                        <td colspan="3">
                                            <input type="text" class="txt_s" name="vCode" id="join_vCode" style="width:100px;float:left;" /> <img src="/Tools/verify_code.ashx" onclick="ChangeCode('nl_join_code');" id="nl_join_code" style="height:29px;margin-left:2px;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3" style="padding-top:15px;">
                                            <input type="submit" value="提交报名" id="btnSubmit" class="btn"><strong class="phone">或拨打<span>023-68526912</span></strong>
                                            <input type="hidden" value="@(ViewBag.JoinTypeID)" name="fType" id="join_type">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td colspan="3">
                                            <span class="gt">为了您的利益及我们的口碑，您的隐私将被严格保密。</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <script type="text/javascript">
                            $('#form_join').submit(function () {
                                var name = $("#UserName").val();
                                var tel = $("#UserTel").val();
                                var house = $("#House").val();
                                var code = $("#join_vCode").val();
                                if ($.trim(name) == "") {
                                    layer.alert("请输入您的称呼!");
                                    return false;
                                }
                                if ($("#cacl_fg").val() == "0") {
                                    layer.alert("请选择装修风格!");
                                    return false;
                                }
                                if ($.trim(tel) == "" || $.trim(tel).length != 11) {
                                    layer.alert("请输入正确的手机号码!");
                                    return false;
                                }
                                if ($.trim(house) == "") {
                                    layer.alert("请输入您的小区名称!");
                                    return false;
                                }
                                if ($.trim(code) == "") {
                                    layer.alert("请输入您的验证码!");
                                    return false;
                                }
                                $(this).ajaxSubmit({
                                    url: "/home/fjoin",
                                    type: "post",
                                    dataType: "json",
                                    beforeSubmit: function () {
                                        layer.load(1, { shade: [0.1, '#000'] });
                                    },
                                    error: function () {
                                        layer.closeAll('loading');
                                        layer.alert("请求失败");
                                    },
                                    success: function (data) {
                                        layer.closeAll('loading');
                                        if (data != null) {
                                            if (data.Success) {
                                                layer.alert(data.Msg, function () {
                                                    window.location.href = window.location.href;
                                                });
                                            }
                                            else
                                                layer.alert(data.Msg);
                                        }
                                        else
                                            layer.alert("提交失败");
                                    }
                                });
                                return false;
                            });
                        </script>
                    </div>
                    <div class="process">
                        <h3>【免费申请流程】</h3>
                        <ul>
                            @if (ViewBag.JoinTypeID == 1)
                            {
                                <li class="word">
                                    <h4>1.申请免费精装套餐报价</h4>
                                    <p>您可以通过网站预约登记申请免费精装套餐报价。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>2.客服回访</h4>
                                    <p>收到申请客服24小时内与您联系完善详细信息。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>3.一对一沟通报价</h4>
                                    <p>收设计师与您沟通装修需求、确认方案。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>4.确认设计方案、报价成功。</h4>
                                </li>
                            }
                            else if (ViewBag.JoinTypeID == 2)
                            {
                                <li class="word">
                                    <h4>1.申请免费预约参观展厅</h4>
                                    <p>您可以通过网站预约登记或电话预约方式申请免费预约参观展厅。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>2.客服回访</h4>
                                    <p>收到申请后，实创装饰客服会在24小时内与您联系，完善信息、确认参观时间。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>3.成功参观实景展厅</h4>
                                </li>
                            }
                            else if (ViewBag.JoinTypeID == 3)
                            {
                                <li class="word">
                                    <h4>1.申请免费参观工地样板间</h4>
                                    <p>您可以通过网站预约登记或电话预约方式申请免费参观工地样板间。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>2.客服回访</h4>
                                    <p>收到申请后，实创装饰客服会在24小时内与您联系，完善信息、确认参观时间。</p>
                                </li>
                                <li class="jt"></li>
                                <li class="word">
                                    <h4>3.成功参观实景工地</h4>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="space20"></div>
        </div>
    </div>
</div>
