@{
    ViewBag.Title = "装修知识 家居装修资讯 家装行业资讯";
    ViewBag.Keywords = "装修知识家居装修,装修材料,家居风水,家装设计家居装修资讯,家装行业资";
    ViewBag.Description = "装修知识是致公党网推出的家居装修资讯、家装行业资讯内容，包含家装攻略、装修材料、家装设计、家居风水和港宏动态，想要了解家居装修资讯、家装行业资讯的朋友们可以从家装攻略、装修材料、家装设计、家居风水中了解到，想要了解致公党最新优惠、最新动向的朋友们可以在港宏动态中了解到。";
}
@model System.Data.DataTable
@using System.Data
@using ZGD.Common
@section Head
{
    <link href="/Content/Scripts/jquery.flexslider/flexslider.css" rel="stylesheet" />
    <script src="/Content/Scripts/jquery.flexslider/jquery.flexslider-min.js"></script>
    <style type="text/css">
        #slider_panel { height: 360px; border: 0; }
        #slider_panel img { width: 100%; height: 360px; }
        .slider_panel { height: 360px; border-top: solid 1px #8E8E8E; }
        .slider_panel .slides, .slider_panel .flex-viewport { height: 360px; }
        .slider_panel .slides li { height: 360px; width: 100%; }
        .slider_panel .slides li a { height: 360px; }
    </style>
}
@{Html.RenderAction("Top", "Ctrl", new { menuID = 7 });}

@{
    ZGD.BLL.Banner bBll = new ZGD.BLL.Banner();
    var top_ad = bBll.GetModel(16);
    var tl_ad = bBll.GetModel(19);

    //var tj_ad = bBll.GetModel(20);
    //var gl_ad = bBll.GetModel(21);
    //var sj_ad = bBll.GetModel(22);
    //var qa_ad = bBll.GetModel(23);
}

<div class="main">
    <div class="slider_panel flexslider" id="slider_panel">
        <a href="@(top_ad.Url)"><img src="@(top_ad.ImgUrl)" /></a>
        @*<ul class="slides">
            <li><a href="#" target="_blank"><img src="/Content/Images/ad.jpg" /></a></li>
            @foreach (DataRow item in Model.AdList.Rows)
                {
                    <li><a href="@(item["Url"].ToString())" target="_blank" style="background-image:url(@(item["ImgUrl"].ToString()));"></a></li>
                }
        </ul>*@
    </div>
</div>
<script type="text/javascript">
    //$("#slider_panel").flexslider({
    //    animation: "slide",
    //    slideshowSpeed: 4000
    //});
    function searchKey() {
        var key = $("#txtSearch").val();
        if ($.trim(key) == "") {
            layer.alert("请输入搜索的关键词");
            return false;
        }
        window.location.href = "/news?key=" + encodeURI(key);
    }
    //$("#slider_panel").xslider({
    //    unitdisplayed:1,
    //    movelength:1
    //});
</script>
<div class="space15"></div>
<div id="content">
    <div class="main">
        <div class="n_ad">
            <a href="/join"><img src="/Content/Images/n_ad.jpg" /></a>
        </div>
        <div class="space40"></div>
        <div class="n_search">
            <div class="left">
                <div>
                    <span></span>
                    <input type="text" id="txtSearch" placeholder="请输入搜索的关键词" />
                    <a href="javascript:;" onclick="searchKey();">搜 索</a>
                </div>
            </div>
            <div class="right">
                您可能要找：@foreach (DataRow item in ViewBag.Tags.Rows)
            { <a href="@(item["WebUrl"].ToString())">@(item["Title"].ToString())</a> }
            </div>
        </div>
        <div class="space30"></div>
        <div class="n_p">
            <div class="left">
                <div class="n_panel">
                    <div class="n_panel_con">
                        <div class="ad">
                            @{
                                int idx = 0;
                            }
                            @foreach (DataRow item in ViewBag.JRTJ.Rows)
                            {
                                if (idx == 0)
                                {
                                    <a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    break;
                                }
                            }
                        </div>
                        <div class="n_list" id="n_top_tab">
                            <div class="tab">
                                <span data="1" class="hover">今日推荐</span>
                                <span data="2">热门文章</span>
                                <span data="3">家居热点</span>
                            </div>
                            <div id="n_tab_1" class="n_tab_con" style="display:block;">
                                @{
                                    idx = 0;
                                }
                                @foreach (DataRow item in ViewBag.JRTJ.Rows)
                                {
                                    if (idx == 0)
                                    {
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(80))</p>
                                        break;
                                    }
                                }
                                <ul>
                                    @{
                                        idx = 0;
                                    }
                                    @foreach (DataRow item in ViewBag.JRTJ.Rows)
                                    {
                                        if (idx > 0)
                                        {
                                            <li>
                                                <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(18))</a>
                                            </li>
                                        }
                                        idx++;
                                    }
                                </ul>
                            </div>
                            <div id="n_tab_2" class="n_tab_con">
                                @{
                                    idx = 0;
                                }
                                @foreach (DataRow item in ViewBag.RMWZ.Rows)
                                {
                                    if (idx == 0)
                                    {
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(80))</p>
                                    }
                                    idx++;
                                }
                                <ul>
                                    @{
                                        idx = 0;
                                    }
                                    @foreach (DataRow item in ViewBag.RMWZ.Rows)
                                    {
                                        if (idx > 0)
                                        {
                                            <li>
                                                <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(18))</a>
                                            </li>
                                        }
                                        idx++;
                                    }
                                </ul>
                            </div>
                            <div id="n_tab_3" class="n_tab_con">
                                @{
                                    idx = 0;
                                }
                                @foreach (DataRow item in ViewBag.JZRD.Rows)
                                {
                                    if (idx == 0)
                                    {
                                        <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17, ""))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(80))</p>
                                    }
                                    idx++;
                                }
                                <ul>
                                    @{
                                        idx = 0;
                                    }
                                    @foreach (DataRow item in ViewBag.JZRD.Rows)
                                    {
                                        if (idx > 0)
                                        {
                                            <li>
                                                <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(18))</a>
                                            </li>
                                        }
                                        idx++;
                                    }
                                </ul>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $("#n_top_tab .tab span").hover(function () {
                                var data = $(this).attr("data");
                                $("#n_top_tab .tab span").removeClass("hover");
                                $(this).addClass("hover");
                                $("#n_top_tab .n_tab_con").hide();
                                $("#n_tab_" + data).show();
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="n_panel">
                    <div class="title"><a href="/wd">更多&gt;&gt;</a><strong>热门问答</strong></div>
                    <div class="n_panel_con">
                        <div class="n_list2">
                            <ul>
                                @foreach (DataRow item in ViewBag.RMQA.Rows)
                                {
                                    <li>
                                        <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/wd/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(13))</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space30"></div>
        <div class="n_tl_ad">
            <a href="@(tl_ad.Url)"><img src="@(tl_ad.ImgUrl)" /></a>
        </div>
        <div class="space30"></div>
        <div class="n_p">
            <div class="left">
                <div class="n_panel">
                    <div class="title"><a href="/news?t=2">更多&gt;&gt;</a><strong>家装攻略</strong></div>
                    <div class="n_panel_con">
                        <div class="ad">
                            @{
                                idx = 0;
                            }
                            @foreach (DataRow item in ViewBag.JZGL.Rows)
                            {
                                if (idx == 0)
                                {
                                    <a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    break;
                                }
                            }
                        </div>
                        <div class="n_list">
                            @{
                                idx = 0;
                            }
                            @foreach (DataRow item in ViewBag.JZGL.Rows)
                            {
                                if (idx == 0)
                                {
                                    <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17, ""))</a></h3>
                                    <p>@(item["Description"].ToString().ToSubString(80))</p>
                                    break;
                                }
                            }
                            <ul>
                                @{
                                    idx = 0;
                                }
                                @foreach (DataRow item in ViewBag.JZGL.Rows)
                                {
                                    if (idx > 0)
                                    {
                                        <li>
                                            <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(18))</a>
                                        </li>
                                    }
                                    idx++;
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="n_panel">
                    <div class="title"><a href="/news?t=3">更多&gt;&gt;</a><strong>装修材料</strong></div>
                    <div class="n_panel_con">
                        <div class="n_list2">
                            <ul>
                                @foreach (DataRow item in ViewBag.ZXCL.Rows)
                                {
                                    <li>
                                        <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/wd/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(13))</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space30"></div>
        <div class="n_p">
            <div class="left">
                <div class="n_panel">
                    <div class="title"><a href="/news?t=5">更多&gt;&gt;</a><strong>家装设计</strong></div>
                    <div class="n_panel_con">
                        <div class="ad">
                            @{
                                idx = 0;
                            }
                            @foreach (DataRow item in ViewBag.JZSJ.Rows)
                            {
                                if (idx == 0)
                                {
                                    <a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    break;
                                }
                            }
                        </div>
                        <div class="n_list">
                            @{
                                idx = 0;
                            }
                            @foreach (DataRow item in ViewBag.JZSJ.Rows)
                            {
                                if (idx == 0)
                                {
                                    <h3><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(17, ""))</a></h3>
                                    <p>@(item["Description"].ToString().ToSubString(80))</p>
                                }
                                idx++;
                            }
                            <ul>
                                @{
                                    idx = 0;
                                }
                                @foreach (DataRow item in ViewBag.JZSJ.Rows)
                                {
                                    if (idx > 0)
                                    {
                                        <li>
                                            <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/news/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(18))</a>
                                        </li>
                                    }
                                    idx++;
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="n_panel">
                    <div class="title"><a href="/news?t=6">更多&gt;&gt;</a><strong>家居风水</strong></div>
                    <div class="n_panel_con">
                        <div class="n_list2">
                            <ul>
                                @foreach (DataRow item in ViewBag.JJFS.Rows)
                                {
                                    <li>
                                        <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/wd/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(13))</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space30"></div>
        <div class="n_p">
            <div class="left">
                <div class="n_panel">
                    <div class="title"><a href="/wd">更多&gt;&gt;</a><strong>家装问答</strong></div>
                    <div class="n_panel_con">
                        <div class="n_list">
                            @{
                                idx = 0;
                            }
                            @foreach (DataRow item in ViewBag.JZQA.Rows)
                            {
                                if (idx == 0)
                                {
                                    <h3><a href="/wd/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(16, ""))</a></h3>
                                    <p>@(item["Description"].ToString().ToSubString(80))</p>
                                }
                                idx++;
                            }
                            <ul>
                                @{
                                    idx = 0;
                                }
                                @foreach (DataRow item in ViewBag.JZQA.Rows)
                                {
                                    if (idx > 0)
                                    {
                                        <li>
                                            <span>@(Convert.ToDateTime(item["PubTime"]).ToString("yyyy-MM-dd"))</span><a href="/wd/@(item["Id"].ToString())" title="@(item["Title"].ToString())">@(item["Title"].ToString().ToSubString(18))</a>
                                        </li>
                                    }
                                    idx++;
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="n_panel">
                    <div class="title"><strong>热门标签</strong></div>
                    <div class="n_panel_con">
                        <div class="tag_list">
                            @foreach (var item in ViewBag.NewsTagList)
                            {
                                <a href="/news?key=@(item)">@(item)</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space30"></div>
        <div class="n_p">
            <div class="n_panel">
                <div class="title"><a href="/news?t=71">更多&gt;&gt;</a><strong>港宏动态</strong></div>
                <div class="n_panel_con">
                    <div class="img_list">
                        <ul>
                            @foreach (DataRow item in ViewBag.GHDT.Rows)
                            {
                                <li>
                                    <a href="/news/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    <div>
                                        <h3><a href="/news/@(item["Id"].ToString())">@(item["Title"].ToString().ToSubString(15))</a></h3>
                                        <p>@(item["Description"].ToString().ToSubString(20))</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space40"></div>