@{
    ViewBag.Title = "2017重庆最新装修在建工程 家庭装修施工工艺展示-港宏宜家官网";
    ViewBag.Keywords = "在建工程,装修工程,装修工艺,装修施工,施工工艺";
    ViewBag.Description = "港宏宜家装饰提供真实装修在建工程、装修施工工艺，是可以预约查看的装修在建工程、装修施工工艺， 预约热线：023-68411900";
}
@model System.Data.DataTable
@using System.Data
@using ZGD.Common
@section Head
{
    <style type="text/css">
        #main_con { background-color: transparent; padding: 0; }
        .gd_item { border: solid 1px #dcdcdc; padding: 20px 15px !important; overflow: hidden; }
        .ty_item { }
        .ty_list li { margin-bottom: 25px; height: auto !important; }
        .ty_list li div.ty_item { position: relative !important; }
        .ty_list li div.ty_item .word_mid h3 { width: 480px; }
        .ty_list li div.ty_item .btn_join { position: absolute; top: 10px; right: 0; padding: 5px 15px; background-color: #AC0902; color: #fff; }
        .ty_list li div.ty_item .word_mid { width: 620px; }
        .gd_info { padding-top: 15px; }
        .gd_info span { margin-right: 30px; }
        .gd_word { padding-top: 5px; color:#888; }
    </style>
}
@{Html.RenderAction("Top", "Ctrl", new { menuID = 4 });}
<!--content begin-->
<div id="content" style="padding-top:0;">
    <div class="main">
        <div class="nav_title">当前位置：<a href="/">首页</a>&gt;<a href="/project">装修工地</a></div>
    </div>
    <div class="space10"></div>
    <div class="main">
        <div id="main_con">
            <div class="con_left">
                @RenderPage("../Ctrl/_ZxCalc.cshtml")
                <div class="space20"></div>
                @*@{Html.RenderAction("HotHouse", "Ctrl", new { top = 4 });}*@
                @RenderPage("../Ctrl/_HotHouse.cshtml")
                <div class="space20"></div>
                @*@{Html.RenderAction("HotAct", "Ctrl");}*@
                @RenderPage("../Ctrl/_HotAct.cshtml")
            </div>
            <div id="con_right" style="width:880px;padding-left:20px;padding-top:0;">
                <div class="ty_list">
                    <ul>
                        @foreach (DataRow item in Model.Rows)
                        {
                            <li class="gd_item">
                                <div class="ty_item">
                                    <a href="/join?type=3" class="btn_join">免费预约参观</a>
                                    <a href="/project/@(item["Id"].ToString())"><img src="@(item["ImgUrl"].ToString())" /></a>
                                    <div class="word_mid">
                                        <h3><a href="/project/@(item["Id"].ToString())">@(item["Title"].ToString())</a></h3>
                                        <p class="gd_info"><span>面积：@(item["Area"].ToString())㎡</span><span>总价：@(item["Price"].ToString())万</span><span>小区：@(item["HouseTitle"].ToString())</span></p>
                                        <p class="gd_word">@(item["Description"].ToString())</p>
                                        <p class="gd_s">
                                            @foreach (DataRow item2 in ViewBag.DataJD.Rows)
                                            {
                                                <i class="@(item2["Id"].ToString() == item["gdStatus"].ToString() ? "hover" : "")">@(item2["Title"].ToString())</i>
                                            }
                                        </p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <script>
                        $(function () {
                            $(".word_mid .gd_s i.hover").prevAll().addClass("hover");
                        });
                    </script>
                    @Html.Raw(ViewBag.Pager)
                </div>
            </div>
        </div>
    </div>
</div>
<!--content end-->
<div class="space40"></div>