@{
    ViewBag.Title = "【精英团队】家装设计师 装修设计师 室内设计师-港宏宜家官网";
    ViewBag.Keywords = "家装设计师,装修设计师,室内设计师,装修设计";
    ViewBag.Description = "港宏宜家装饰汇聚几十位优秀的家装设计师，室内装修设计找设计师就来港宏宜家装饰，为您打造高端家居住宅装修、装饰设计。";
}

@section Head
{
    <style type="text/css">
        #content { border-top: solid 1px #8E8E8E; }
    </style>
}
@using System.Data
@using ZGD.Common
@{Html.RenderAction("Top", "Ctrl", new { menuID = 5 });}

<div id="content" style="padding-top: 0;">
    <div class="main">
        <div class="nav_title">当前位置：<a href="/">首页</a>&gt;<a href="/designer">金牌设计</a></div>
    </div>
    <div class="des_panel">
        <div class="main">
            <div id="main_con">
                <div class="panel_title"><div><span>金牌设计</span></div></div>
                <ul class="des_list">
                    @{
                        int idx = 1;
                    }
                    @foreach (DataRow item in Model.Rows)
                    {
                        <li @if (idx % 4 == 0) { @Html.Raw("style=\"margin-right:0;\"")                  ; }>
                            <div class="photo"><a href="/designer/@(item["ID"].ToString())"><img src="@(item["Photo"].ToString())" /></a></div>
                            <div class="info">
                                <p class="name"><span class="star star@(item["Star"].ToString())"></span><strong>@(item["Name"].ToString())</strong><i>@(item["cName"].ToString())</i></p>
                                <p class="des"><span>人气（@(item["Clicks"].ToString())）</span>工作年限：@(item["cyDate"].ToString())年</p>
                                <p class="btn_panel"><a href="http://p3.qiao.baidu.com//im/index?siteid=6092294&ucid=6801410&lastsubid=&from=%E9%87%8D%E5%BA%86%E5%8D%97%E5%B2%B8&bid=afd7a1abaec3650448a00528&chattype=1&groupid=&groupname=&subid=&subname=&ref=http%3A%2F%2Fwww.ghjia.com%2F" target="_blank" class="black">在线咨询</a><a href="/designer/@(item["ID"].ToString())" class="red">查看详情</a></p>
                            </div>
                        </li>
idx++;
                    }
                </ul>
                <div class="space20"></div>
                @Html.Raw(ViewBag.Pager)
            </div>
        </div>
    </div>
</div>
